.search-filter {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    margin-bottom: 1rem;
}


.search-input-wrapper{
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    font-size: 1rem;
    height: 3rem;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.search-input-wrapper.dark{
    background-color: var(--clr-dark-blue);
}

.search-input-wrapper.dark .search-input{
    background-color: var(--clr-dark-blue);
    color: var(--clr-light-gray);
}

.search-input-wrapper.dark .search-input::placeholder{
    color: var(--clr-light-gray);
}

.search-input-wrapper img{
    width: 20px;
    margin-right: .5rem;
}

.search-filter input{
    height: 100%;
    width: 90%;
    border: none;
    font-size: .7rem;
    outline: none;
}

.search-filter input::placeholder {
    color: var(--clr-dark-gray);
}

.countries-list{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
}

.countries-list > p{
    font-size: .9rem;
    text-align: center;
}

@media screen and (min-width:500px) {
    .search-input-wrapper{
        width: 250px;
    }

    .search-filter {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
}

@media screen and (min-width:600px) {
    .countries-list{
        width: 532px;
        display: grid;
        grid-template-columns: 250px 250px;
        gap: 2rem 2rem;
        margin-inline: auto;
    }

    .search-input-wrapper{
        width: 300px;
    }
}

@media screen and (min-width:930px) {
    .countries-list{
        width: 890px;
        grid-template-columns: 250px 250px 250px;
        margin-inline: auto;
    }
}

@media screen and (min-width:1100px) {
    .countries-list{
        width: 1096px;
        grid-template-columns: 250px 250px 250px 250px;
        margin-inline: auto;
    }

    .search-filter {
        margin-top: 1.75rem;
        padding-inline: 4rem;
    }

    .search-input-wrapper{
        height: 3.5rem;
        width: 460px;
        padding-inline: 1.75rem;
    }

    .search-input-wrapper img{
        margin-right: 1.2rem;
    }
    
    .search-filter input{
        font-size: .85rem;
    }

    .countries-list{
        margin-top: 2.75rem;
    }
}