.search-filter {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    margin-bottom: 1rem;
}


.search-input-wrapper{
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    font-size: 1rem;
    height: 3rem;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.search-input-wrapper.dark{
    background-color: var(--clr-dark-blue);
}

.search-input-wrapper.dark .search-input{
    background-color: var(--clr-dark-blue);
    color: var(--clr-light-gray);
}

.search-input-wrapper.dark .search-input::placeholder{
    color: var(--clr-light-gray);
}

.search-input-wrapper img{
    width: 20px;
    margin-right: .5rem;
}

.search-filter input{
    height: 100%;
    width: 90%;
    border: none;
    font-size: .7rem;
    outline: none;
}

.search-filter input::placeholder {
    color: var(--clr-dark-gray);
}

.countries-list{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
}