.App{
    display: flex;
    flex-direction: column;
}

main{
    padding-top: 4.5rem;
    flex-grow: 1;
    background-color: var(--clr-light-gray);
}

main.dark{
    background-color: var(--clr-vary-dark-blue);
    color: var(--clr-light-gray);
}
